//COLORES 
$white:#fff;
$tangerine:#FFaf6d;
$orange:#ffa500;

$black:#000000;
$sable:#060606;
$charcoal:#2e1503;

//TYPOGRAPHY

$ubuntu:'Ubuntu', sans-serif;
$poppins:'Poppins', sans-serif;

//FONT-WEIGHT

$regular:400;
$bold:700;


//FONT SIZES

$xxxx-large: 2.8rem;
$xxx-large: 2.5rem;
$xx-large: 2.19px;
$x-large: 1.875rem;
$large: 1.25rem;
$medium: 1rem;
$small: 0.875rem;
$x-small: 0.75rem;