.header {
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    iframe {
        width: 90% !important;
    }
}

@media screen and (min-width : 761px){
    
    .header {
        width: 100%;
        height: 46vh;
        display: flex;
        justify-content: center;
    }
}